# MySQL
MYSQL_ROOT_PASSWORD=verysecret
MYSQL_DATABASE=mydatabase
MYSQL_USER=myuser
MYSQL_PASSWORD=secret

# Server
SERVER_PORT=8080
OPENAI_API_KEY=
GEMINI_API_KEY=
ALADIN_TTB_KEY=

# Client
CLIENT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:8080

# Admin
ADMIN_PORT=3001
